{% extends 'head.html' %}
{% load static %}

{% block title %}Generador de listas{% endblock %}
{% block stat %}
<link rel="stylesheet"  href="{% static 'generador.css' %}">
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<br>
		<br>
		<br>
		<div class="int-cont">
		  <div class="row align-items-start">
		    <div class="midle  col-12 col-lg-4">
		    	<div class="mid co-12">EJERCITO</div>
		      			<br>
				<select id="army" name="selar" class="half midle form-select" aria-label="Default select example">
					<option selected>Selecciona un ejercito</option>
					{% for data in ejercitos %}
				  			<option value="{{data.id}}">{{data.nombre}}</option>
				  	{% endfor %}
				</select> 		
		    </div>
		    <br>
							<br>
		    <div class="midle  col-12 col-lg-4">
		      	<div class="container-fluid">
		      		<div class="row align-items-start">
		      			<div class="mid co-12">COMANDANTES</div>
		      			<br>
		      			<div class="mid co-12">
		      				<br>
							  <p id="quantityt">Nº Unidades: <span>0</span></p>
							<br>
							<select id="comma" name="" class="half midle form-select" aria-label="Default select example">
								<option selected>Selecciona un comandante</option>
							</select>
		      			</div>
		      		</div>
		    	</div>
			</div>
		    <div class="midle col-12  col-lg-4">
		      <div class="container-fluid">
		      		<div class="row align-items-start">
		      			<div class="mid co-12">HEROES</div>
		      			<br>
		      			<div class="mid co-12">
		      				<br>
							  <p id="quantity_herot">Nº Unidades: <span>0</span></p>
							<br>
							<select id="sel_hero" name="" class="half midle form-select" aria-label="Default select example">
								<option selected>Selecciona un heroe</option>
							</select>
		      			</div>
		      		</div>
		    	</div>
		    </div>
		  </div>
		  <br>
		  <div class="row align-items-center">
		    <div class="midle col-12 col-lg-4">
		      <div class="container-fluid">
		      		<div class="row align-items-start">
		      			<div class="mid co-12">BASICAS</div>
		      			<br>
		      			<div class="mid co-12">
		      				<br>
							  <p id="quantity_baset">Nº Unidades: <span>0</span></p>
							<br>
							<select id="sel_base" name="" class="half midle form-select" aria-label="Default select example">
								<option selected>Selecciona un unidad basica</option>
							</select>
							<br>
		      			</div>
		      		</div>
		    	</div>
		    </div>
		    <div class="midle col-12 col-lg-4">
		      <div class="container-fluid">
		      		<div class="row align-items-start">
		      			<div class="mid co-12">ESPECIALES</div>
		      			<br>
		      			<div class="mid co-12">
		      				<br>
							  <p id="quantity_specialt">Nº Unidades: <span>0</span></p>
							<br>
							<select id="sel_special" name="" class="half midle form-select" aria-label="Default select example">
								<option selected>Selecciona especiales</option>
							</select>
		      			</div>
		      		</div>
		    	</div>
		    </div>
		    <div class="midle col-12 col-lg-4">
		      <div class="container-fluid">
		      		<div class="row align-items-start">
		      			<div class="mid co-12">SINGULARES</div>
		      			<br>
		      			<div class="mid co-12">
		      				<br>
							  <p id="quantity_singt">Nº Unidades: <span>0</span></p>
							<br>
							<select id="sel_sing" name="" class="half midle form-select" aria-label="Default select example">
								<option selected>Selecciona singulares</option>
							</select>
		      			</div>
		      		</div>
		    	</div>
		    </div>
		  </div>
		  <div class="row align-items-end">
		    <div class="midle col">
		    </div>
		    <div class="midle col">
		    </div>
		    <div class="midle col">
		    	<!--<form action="">
							  <label for="quantity">Nº Unidades:</label>
							  <input type="number" id="quantity" name="quantity" min="0" max="1" step="1" value="0">
							</form>-->
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}
{% block js %}
<script src="{% static 'generador.js' %}"></script>
{% endblock %}