.white{
	background-color: white;
}

.int-cont{
	width: 94%;
	margin:0 auto;
}

.midle{
	text-align: center;
}

.half{
	width: 50%!important;
	display:unset!important;
}

@media only screen and (max-width: 767px) {
	.half{
		width: 100%!important;
		display:unset!important;
	}

	.full{
		width: 100%!important;
	}
}